.nft-marketplace {
    height: 120vh;
    width: 100%;
    position: relative;
}
.nft-marketplace section{
    height: 100%;
    width: 100%;
}

.market-place{
    position: absolute;
    top: 0;
}

.market-place img{
    width: 100%;
    height: 100%;
}

.marketplace-box{
    
    /* background-color: rgba(0, 0, 0, 0.5); */
 height: 15%;
 width: 70%;
 border: 1px solid #fff;
}

.marketplace-box{
    background-color: rgba(255, 255, 255, 5%);
    padding: 10px;
}

.marketplace-box h1{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.marketplace-items{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
        flex-direction: column;
    margin-top: 0;


}

.marketplace-items2{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
    
}

.marketplace-items >div, .marketplace-items2 >div{
    margin-bottom: 10%;
}

