.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 50px;
    color: #fff;
    background-color: #191E35;
}

.logo-image{
    height: 100%;
}

.logo-image img{
    height: 100%;
}

.nav-list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.wallet{
    padding: 10px;
    border-radius: 10px;
    background-color: #45438E;
    width: 30%;
}

.nav-list ul > li{
    margin: 0 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

svg{
    margin: 0 5px 0 0;
}

@media screen and (max-width: 768px){
    .nav-wrapper{
        padding: 0 1rem;
    }
    .nav-list ul{
        display: none;
    }
 
}
    
